html{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FB6B6B;
  }

.background{
    
    width: 100%;
    height: 100%;
    background-color: aqua;
}
.Zaprecall{

    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    color: aliceblue;
    width: 213px;
    height: 59px;
    padding-top: 20px;
    padding-bottom: 45px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 257px;
    height: 59px;
    background-color: aliceblue;
    border-radius: 5px;
    border-style: solid;
    border-color: #D70900;
    border-width: 1px;
    cursor:pointer;
}
.button:active{
    transform: translatey(3px);
}
.txt{
    font-family: 'Recursive', sans-serif;
    color: #D70900;

}
.raio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.organizaçãotela{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    height: 330px;
}
/* ******************Tela2*/
.displayflex{
    display: flex;
    justify-content: center;
    align-items: center;

}
.raio2{
    
    width: 52px;
    height: 60px;
}
.caixapergunta{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    width: 100%;
   min-height: 65px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0, 0, 10px, -4px rgba(0, 0, 0, .25);
    margin-bottom: 22px;
    word-wrap: break-word;
    cursor: pointer;
    padding-top: 5px;
}
.caixapergunta:active{
    transform: translatey(3px);
}
.linhatracada{
    text-decoration-line: line-through;
}

.txtpergunta {
    width: 200px;
    min-height: 45px;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-left: 5px;
    
word-wrap: break-word;

}
.buttonplay{
    margin-right: 10px;
}
.blocoperguntas{
    margin-bottom: 92px;
}
.displayflex2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.blocoselecao{

    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;

}
.displaynone{
    display: none;
}
.barrainfo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
}
.salvaresultados{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.naolembrei{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-height: 35px;
    border-radius: 5px;
    background-color: #D70900;
    word-wrap: break-word;
    color:#ffffff;
    font-size: 12px; 
}
.verde{
 color:#2fbe34   
}
.vermelho{
    color:#D70900
}
.laranja{
    color: #ff922e;
}
.quasenaolembro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding-left: 5px;
    min-height: 35px;
    border-radius: 5px;
    word-wrap: break-word;
    background-color: #ff922e;
    color:#ffffff;
    font-size: 12px;
    box-sizing: border-box;
    
}
.zap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-height: 35px;
   border-radius: 5px;
    background-color: #2fbe34;
    word-wrap: break-word;
    color:#ffffff;
    font-size: 12px;
}